@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;600;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap");
/* font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; */
/* Basic */
img {
  display: block;
  height: auto;
  width: 100%;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth !important;
 
}
body {
  font-size: 1.4rem;
  margin: 0;
}
p::selection {
  background-color: #fcbb08;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1 {
  cursor: pointer;
}
h2 {
  cursor: pointer;
}

.h2-title-container-for-max-width {
  max-width: 42.1rem;
}
.mr-39px {
  margin-right: 3.9rem;
}
.container {
  max-width: 121.7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.title_box {
  position: relative;
}
.title_box:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1.4rem;
  background-color: rgb(252,187,8);
  width: 6rem;
  height: .3rem;
  transition: width .2s linear;
}
.title_box:hover::before {
  width: 50%;
}

/* SVG - спрайты  */
.logo-icon {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  fill: #00b2a0;
  /* fill: white; */
  transition: fill .2s linear;
}
.logo-icon:hover {
  fill: #fcbb08;
}
.arrow-down {
  display: block;
  width: 2rem;
  height: 4rem;
}
.arrow-down-rotate {
  transform: rotate(180deg);
}
.arrow-left {
  width: 3.5em;
  height: 3.5rem;
  fill: #333333; 
}
.arrow-right {
  width: 3.5em;
  height: 3.5rem;
  fill: #333333; 
}
.arrow-up {
  width: 17px;
  height: 9px;
  fill:white;
}
.close-modal-icon {
  height: 35px;
  width: 35px;
  fill: #fcbb08;
}
/* Expertise */

.expertise__graphic-design_logo {
  /* width="50" height="51" */
  width: 5rem;
  height: 5.1rem;
  /* fill: none; */
  fill: #00B2A0;
}
.expertise__web-development_logo {
  width: 5rem;
  height: 5rem;
  fill:#00B2A0;
}
.expertise__marketing_logo {
  width: 5rem;
  height: 5.1rem;
  fill:#00B2A0;
}
.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Header */
.header__content {
  position: relative;
}
/* font-range-bar */
/* .font-range-bar {
  width: 10rem;
  height: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
} */

.header__content-decor::after {
  position: absolute;
  bottom: 6.2rem;
  background: url('../images/header/mouse.svg');
  content: '';
  display: block;
  width: 2.6rem;
  height: 4.3rem;
  transform: translateX(-50%);
  cursor: pointer;
  transition: background .2s linear;
}
.header__content-decor:hover::after {
  background: url('../images/header/mouse-hover.svg');
}
.header__top {
  position: fixed;
  z-index: 7;
  width: 100%;
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
}
.menu__list .menu__list-item:not(:first-child) {
  margin-left: 5rem;
}
.menu__link {
  position: relative;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.166;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  color: #373a39;
}
.menu__link:after {
  position: absolute;
  content: "";

  bottom: -0.9rem;
  left: 0;

  width: 0;
  height: 0.2rem;
  background-color: #fcbb08;
  z-index: 1;
  transition: width 0.4s linear;
}
.menu__link--active:after {
  width: 100%;
}

.header__content {
  
  height: 100vh;
  background: url("./../images/header/header-bg.png");
  background-size: cover;
}
.header__content-inner {
  /* position: relative; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.header__content-title {
  margin-top: 23.5rem;

  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10rem;
  line-height: 1.22;

  color: #ffffff;
}
.header__content-description {
  margin-top: 1.7rem;
  font-family: "Montserrat", sans-serif;

  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.25;

  letter-spacing: 0.274286rem;
  text-transform: uppercase;
  color: #fcbb08;
}

/* About */
.about {
  background-color: #F6F8FA;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 15.2rem;
  padding-bottom: 15.9rem;
}
.about__inner .title_box {
  flex-shrink: 0;
  margin-right: 3rem;
}
.about__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.5625;
  letter-spacing: -0.165rem;

  color: #242121;
}


.about__text {
  max-width: 77rem;
}
.about__text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.714;
  
  color: #373A39;
}
.about__text p:first-of-type {
  margin-bottom: 1.7rem;
}
/* Expertise */
.expertise__content {
  margin-bottom: 8.5rem;
}
.expertise__inner {
  padding-top: 14.3rem;
  padding-bottom: 16.4rem;
}
.expertise__title {
  font-family: "Montserrat", sans-serif;
 
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.25;
  
  letter-spacing: -0.165rem;
  margin-bottom: 10.7rem;
  color: #242121;
}

.expertise__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.expertise__content-items {
  margin-right: 1rem;
  padding-right: 2rem;
}
.expertise__content-text {
  max-width: 77rem;
}
.expertise__content-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.714;

  color: #373A39;
}
.expertise__content-text p:first-of-type {
  margin-bottom: 2.3rem;
}
.expertise__content-item_progress-bar {
  width: 37rem;
  height: .2rem;
  background-color: rgb(240,240,240);
}
.expertise__content-item_progress-bar__progress {
  height: 100%;
  transition: width .2s linear;
  background-color: rgb(29,29,29);
}
.expertise__content-item_progress-bar__title {
  margin-top: 0.5rem;
  margin-bottom: 3rem;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.81;

  letter-spacing: .1rem;

  color: #1D1D1D;
}
.expertise__content-item_progress-bar {
  position: relative;
}
.percent-branding:before {
  content: '90%';
  position: absolute;
  top: .5rem;
  right: 5%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.81;

  letter-spacing: .1rem;

  color: #1D1D1D;
}
.percent-design:before {
  content: '80%';
  position: absolute;
  top: .5rem;
  right: 15%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.81;

  letter-spacing: .1rem;

  color: #1D1D1D;
}
.percent-development:before {
  content: '85%';
  position: absolute;
  top: .5rem;
  right: 10%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.81;

  letter-spacing: .1rem;

  color: #1D1D1D;
}
.expertise__items {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
}
.expertise__item {

  padding: .6rem;
  display: flex;
  transition: box-shadow .3s linear;
  margin-bottom: 3rem;
}
.expertise__item:hover {
  box-shadow: .3rem .3rem 1rem #020202;
}

.expertise__item-text {
  max-width: 28.5rem;
}
.expertise__item-logo {
  margin-right: 3.5rem;
  flex-shrink: 0;
}
.expertise__item-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.428;
  letter-spacing: .429rem;
  text-transform: uppercase;
  color: #333333;

  margin-bottom: 1.4rem;
}
.expertise__item-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.714;

  color: #777777;
}
.expertise__item-box {
  height: 10.6rem;
  overflow: hidden;
}
/* Features */

.features__inner {
  display: flex;
}
.features__photo img {
  max-width: 70.5rem;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 0% 50%;
			
}


.features__content {
  margin-left: auto;
  max-width: 47.7rem;
  padding-left: 13rem;
  padding-top: 10.1rem;
}
.features__title {
  /* position: relative; */
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.25;
  margin-bottom: 8.5rem;
  letter-spacing: -.165rem;

  color: #242121;
}
.features__text p {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.714;

  color: #373A39;
}

.features__text p:first-of-type {
  margin-bottom: 1.2rem;
}

/* Portfolio */
.portfolio__head {
  padding-top: 14.1rem;
  padding-bottom: 10.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.portfolio__head .title_box {
  padding-right: 2rem;
}
.portfolio__nav-list {
  display: flex;
}
.portfolio__nav-item {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2;
  padding-left: .4rem;
  padding-right: .4rem;
  letter-spacing: .2rem;

  color: #333333;
  cursor: pointer;
}

.portfolio__nav-item::after {
  position: absolute;
  content: "";

  bottom: -0.9rem;
  left: 0;

  width: 0;
  height: 0.2rem;
  background-color: #fcbb08;
  z-index: 1;
  transition: width 0.4s linear;
} 
.portfolio__nav-item--active::after {
  width: 100%;
}
.portfolio__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.25;

  letter-spacing: -.165rem;

  color: #242121;
}

/* Portfolio */

.portfolio__items {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-auto-flow: column;
  grid-auto-rows: 300px;
  gap: 2.2rem;
  margin-bottom: 7.2rem;
}
.portfolio__items > div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
}
.portfolio__items > div:nth-child(7) {
  grid-row-start: 2;
  grid-row-end: 4;
}
.portfolio__items > div:nth-child(9) {
  grid-row-start: 2;
  grid-row-end: 4;
}
.portfolio__item-img {
 
  background: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: box-shadow .3s linear;
}
/* Слайдер-портфолио при адаптиве */
.slider-wrapper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}
.slick-btn {
  position: absolute;
  bottom: -7rem;
  
  /* transform: translateY(-50%); */
}
.slick-prev {
  z-index: 3;
  left: 0;
}
.slick-next {
 z-index: 3;
 left: 70px;
}

.portfolio__item-img:hover {
  box-shadow: .3rem .3rem 1rem #020202;
}
.portfolio__items > div:nth-child(3) {
  background: linear-gradient(0deg, rgba(36, 33, 33, 0.8), rgba(36, 33, 33, 0.8)), #EDEDED;
  border: 12px solid rgba(255, 255, 255, 0.147164);
}
.portfolio__item-title {
  margin-bottom: 1rem;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;

  letter-spacing: .14rem;

  color: #FFFFFF;
}
.portfolio__item-descr {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: .1rem;

  color: #FFFFFF;
}
.portfolio__btn-all {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.214;

  letter-spacing: .12rem;

  color: #242121;
  transition: color .2s linear;
}
.portfolio__btn-all:hover {
  color: #fcbb08;
}
.btn-wrapper {
  text-align: center;
  padding-top: 4.2rem;
  padding-bottom: 4.1rem;
  background-color: #F6F8FA;
}

/* Video */
.videoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video_quotes {
 
  margin-bottom: 5.1rem;
} 
.quotes {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 13rem;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
  padding-bottom: 14.8rem;
}

.video_quotes p {
  max-width: 65rem;
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2;

  color: #242121; 
}

.video__quotes-author {
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.285;

  color: #9E9E9E;
}
.video-play {
  object-fit: cover;
  object-position: 50% 0;
}

.video-wrapper {
position: relative; 
}
.video-wrapper video {
  height: 324px;
  width: 100%;
}
.play-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
.play-video-icon {
  width: 5.5rem;
  height: 6.5rem;
  fill: white;
  transition: fill .3s linear;
}
.play-video-icon:hover {
  fill: #00B2A0;
}
/* Statistics */
.statistics__inner {
  padding-left: 9.5rem;
  padding-right: 9.5rem;
  display: flex;
  justify-content:space-between;
  padding-top: 16.4rem;
  padding-bottom: 16.6rem;
}
.statistics__item-num {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.21;
  margin-bottom: 0.9rem;
  color: #242121;
}
.statistics__item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow .3s linear;
  cursor: default;		
}
.statistics__item:hover {
  box-shadow: .3rem .3rem 1rem #020202;
}
.statistics__item-text {
  font-family: "Open Sans", sans-serif;

  font-size: 1.4rem;
  line-height: 1.35rem;

  color: #00B2A0;
}
.slider__section {
  max-width: 144rem;
  position: relative;
  width: 100%;
  background-color: #F6F8FA;
  padding-top: 30.7rem;
  padding-bottom: 11.4rem;
  padding-left: 13.3rem;
  margin-right: auto;
  margin-left: auto;
}
.slider__center-container {
  display: flex;
  align-items: center;
  margin-bottom: 19.7rem;
}
.slider__item {
  width: 70.4rem;
 
  display: flex;
  flex-direction: column;
}
.slider__btn-left {
  position: absolute;
  left: 3.8rem;
  top: translate(-50%, -50%);
}

.slider__btn-right {
  position: absolute;
  right: 3.8rem;
  top: translate(-50%, -50%);
}
.hidden {
  display: none;
}

.slider__item-title {
  
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.3;
  margin-bottom: 3.2rem;
  color: #242121;
}

.slider__item-text {
  max-width: 55.9rem;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.71;

  color: #777777;
}

.slider__section-wrapper {
  /* ширина всех слайдов в обертке */
 
  /* width: 422.4rem;  */
  display: flex;
  /* position: relative; */
  /* left: 0; */
  transition: all 1s linear;
}
.slider__section-slider {
  overflow: hidden;
  max-width: 70.4rem;
}
.sliderButton {
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #A2A2A3;
}
.slider__button-wrap {
  display: flex;
  align-items: center;
}
.slider-btn--active {
   width: 10px;
  height: 10px;
  background-color: #242121;
}
/* Our team */

.team {
  padding-top: 12rem;
  padding-bottom: 16.4rem;
}
.team__title {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.25;

  letter-spacing: -.165rem;
  margin-bottom: 12rem;
  color: #242121;
}

.team__items {
  display: flex;
  justify-content: space-between;
}
.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition: box-shadow .4s linear;
}
.team__item:hover {
  box-shadow: .3rem .3rem 1rem #020202;
}
.team__item-img {
  margin-bottom: 3.5rem;
}
.team__item-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
  color: #333333;
}
.team__item-position {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.3;
 
  color: #C2C2C2;
}

/* Pricing */
.pricing {
  padding-top: 14.4rem;
  padding-bottom: 16.2rem;
}
.pricing__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.25;

  letter-spacing: -.165rem;
  margin-bottom: 10.9rem;
  color: #242121;
}
.pricing__items {
 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.pricing__item {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  padding-bottom: 5.3rre;
  padding-left: 2.5rem;
  transition: all .5s ease;
}
.pricing__item--stabart {
  box-shadow: 5px -5px 5px #fcbb08;
  background-color: #f8c128;
}
.pricing__item:hover {
  box-shadow: 5px -5px 5px #fcbb08;
  background-color: #f8c128;
}
.pricing__item-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.375;
  margin-bottom: 3.3rem;
  color: #242121;
}
.pricing__item-rate {
  display: flex;
  align-items: flex-end;
  
  margin-bottom: 6.5rem;
}
.price-value {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 8rem;
  line-height: 8rem;

  color: #242121;
}
.pricing__item-rate .mounth {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.35;

  color: #242121;
}
.pricing__item-rate .dollar {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: 1.35;
  align-self: flex-start;

  color: #242121;
}
.pricing__list .pricing__list-item {
  font-family: "Open Sans", sans-serif;
 
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  cursor: default;
  color: #242121;
}
.pricing__list-item {
  transition: color .2s ease;
}
.pricing__list-item:hover {
  color: #00B2A0;
}
.pricing__list li + li {
  margin-top: 3rem;
}
.pricing__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.9rem;
}
.pricing__btn {
  font-family: "Montserrat", sans-serif;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.21;

  letter-spacing: .12rem;

  color: #242121;
  transition: all .3s linear;
}
.pricing__btn:hover {
  background-color: #242121;
  color: #fcbb08;
}
/* Get In Touch */
.contact {
  padding-top: 29.2rem;

}
.contact__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__form {
  display: flex;
  flex-direction: column;

}
.contact__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.25;

  letter-spacing: -.165rem;
  margin-bottom: 11.2rem;
  color: #242121;
}
/* Form */
.contact__form-input {
  border: none;
  border-bottom: 2px solid #373A39;
  padding-bottom: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.6;
  width: 100%;
  letter-spacing: .37rem;
  cursor: pointer;
  color: #373A39;
  outline: none;
  transition: border-bottom .3s linear;
}
.contact__form-input:focus {
  border-bottom: 2px solid #fcbb08;
}
.contact__form .contact__form-input +
.contact__form-input {
  margin-top: 3.2rem;
}
.contact__form-input::placeholder {
  font-family: inherit;
  font-weight: normal;
  font-size: inherit;
  line-height: 1.6;

  letter-spacing: .37rem;

  color: #B8B8B8;
}
.input_box {
  margin-bottom: 5.3rem;
}
.contact__content {
  width: 56.9rem;
}
.contact__form-textarea {
  margin-top: 5.3rem;
  margin-bottom: 4rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #373A39;
  transition: border-bottom .3s linear;
  resize: vertical;
  cursor: pointer;
}
.contact__form-textarea:focus {
  border-bottom: 2px solid #fcbb08;
}
.contact__form-textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: .37rem;
  color: #B8B8B8;
}
.contact__form-btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.18;
  background-color: #242121;
  letter-spacing: 2px;
  padding: 17px 58px;
  color: #FFFFFF;
  transition: all .3s linear;
}
.contact__form-btn:hover {
  background-color:#fcbb08;
  color: #242121;
}
.contact__map {
  padding-left: 10.1rem;
  height: 89.6rem;
}
.map__img {
  object-fit: cover;
  height: 100%;
  object-position: 0% 50%;
}
/* Footer */
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11rem;
  padding-bottom: 6rem;
}
.footer {
  background-color:  #373A39;
}
.logo-mb {
  margin-bottom: 9.9rem;
}
.logo--line {
  position: relative;
}
.logo--line::before {
  content: '';
  position: absolute;
  top: 65px;
  left: -54px;
  display: block;
  width: 150px;
  height: 2px;
  background-color: #FCBB08;
}
.footer__social {
  display: flex;
  text-transform: uppercase;
  margin-bottom: 6.5rem;

}
.footer__social a + a {
  margin-left: 3rem;
}
.footer__social a {
  transition: color .2s linear;
}
.footer__social a:hover {
  color: #A8A8A8;
}
.footer__social-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.25;

  letter-spacing: .4rem;

  color: #FFFFFF;
}
.footer__info {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.28;

  color: #A8A8A8;
}
.footer__info a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #A8A8A8;
}
.footer__info--mb {
  margin-bottom: 5.7rem;
}
.footer__copy {
  display: flex;

  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
  height: 100px;
  background-color: #2A2C2B;
  color: #CCCCCC; 
}
.copyright {
  margin: auto;
}
/* Burger-menu */
.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.burger-menu span {
  height: 3px;
  width: 100%;
  background-color: #FCBB08;
}
.burger-hidden {
  display: none;
}
/* modal-menu */
.modal-menu {
  opacity: 0;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 7;
  background-color: white;
  transform: translateX(400%);
  transition: transform .5s linear;
}
.modal-menu-default {
  transform: translateX(0);
  opacity: 1;
}
.modal-menu__menu-list {
  margin: auto;
  text-align: center;
}
.menu-list__link {
  display: inline-block;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.166;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  color: #00b2a0;
}
.modal-menu-item {
  width: 100vw;
  /* border: 1px solid #FCBB08; */
  /* background-color: rgba(252,187,8, 0.7); */
}
.modal-menu-item:not(:last-child) {
  border-bottom: 1px solid transparent;
}
.hidden-modal-menu {
  display: none;
}
.close-modal {
  opacity: 0;
  z-index: 11;
  transform: translateX(300%);
  position: fixed;
  top: 30px;
  right: 20px;
  transition: transform .4s linear;
  transition-delay: 0.4s;
}
.close-modal-show {
  opacity: 1;
  transform: translateX(0);
}
/* Media-requests */
@media (max-width: 1200px) {
  .expertise__items {
    justify-content: space-evenly;
  }
}
@media (max-width: 1090px) {
  .expertise__inner {
    padding-bottom: 10rem;
  }
  .features__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .features__content {
    max-width: 65.7rem;
    margin-right: auto;
    order: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 4rem;
  }
  .features__content .title_box:hover::before {
    width: 25%;
  }
  .features__content .title_box {
    max-width: 33.5rem;
  }
  .features__photo {
    margin-bottom: 3rem;
    order: 1;
  }
  .portfolio__head {
    padding-top: 7rem;
    justify-content: center;
    padding-bottom: 4rem;
  }
  .portfolio__nav {
    display: none;
  }
  .btn-wrapper {
    display: none;
  }
  .slider-wrapper-item {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  } 
  .contact__inner {
    flex-wrap: wrap;
  }
  .contact__content {
    width: 70%;
    margin-bottom: 7rem;
  }
  .contact__map {
    width: 100%;
    padding-left: 0;
  }
  
}
@media (max-width: 990px) {
  .statistics__inner {
    flex-wrap: wrap;
    padding: 7.4rem 0 7.6rem;
  }
  .statistics__item {
    width: 50%;
  }
  .slider__section-slider {
    max-width: 40.4rem;
  }
  .slider__item-title {
    font-size: 3rem;
  }
  .slider__section {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  .slider__center-container {
    margin-bottom: 7rem;
  }
}
/* Header */
@media (max-width: 901px) {
  .header__content-title {
    margin-top: 13.5rem;
  }
  .expertise__title {
    font-size: 5rem;
  }
  .contact {
    padding-top: 8rem;
  }
  .pricing {
    padding-bottom: 6rem;
  }
} 

@media (max-width: 768px) {
  .header__content-title {
    font-size: 8rem;
    margin-top: 13.5rem;
  }
  .about__inner {
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 10rem;
  }
  .about__inner .title_box {
    margin-bottom: 4rem;
  }
  .expertise__content {
    flex-wrap: wrap;
  }
  .expertise__title {
    font-size: 3.5rem;
  }
  .expertise__inner {
    padding-top: 2rem;
  }
  .about__inner {
    padding-bottom: 5rem;
  }
  .features__title {
    font-size: 4rem;
  }

  .quotes {
    padding-top: 5.3rem;
    padding-bottom: 4.8rem;
  }
  .team {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .team__title {
    font-size: 4rem;
    margin-bottom: 6rem;
  }
  .team__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .team__items .team__item {
    width: 50%;
  }
  .pricing__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pricing__item {
    align-items: center;
    width: 50%;
  }

  .pricing__item-name {
    align-self: start;
  }
  /* .pricing__list {
    column-count: 2;
  } */
  .contact__content {
    width: 100%;
  }
  .contact__title {
    font-size: 3.5rem;
  }
  .contact__content .title_box:hover::before {
    width: 25%;
  }
  .map__img {
    object-position: 87% 50%;
} 
  /* .footer__content .footer__social {
    align-self: start;
  } */
  .footer__social {
    flex-direction: column;
}
  .footer__social a + a {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  
} 
@media (max-height: 768px) {
  .slider__section {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
@media (max-width: 1024px) {
  .slider__center-container {
    margin-bottom: 6rem;
  }
}
}
@media (max-width: 648px) {
  .pricing__item {
    width: 100%;
  }
  .pricing__title {
    font-size: 3.5rem;
  }
}
@media (max-width: 700px) {
  .video-wrapper video {
    height: 240px;
  }
  .slider__center-container {
    margin-bottom: 4rem;
  }
  .slider__btn {
    display: none;
  }
  .slider__section {
    padding-top: 3rem;
    padding-left: 0;
  }
  .statistics__inner {
    padding-bottom: 3rem;
  }
  .slider__button-wrap {
    display: flex;
  }
  .contact__title {
    margin-bottom: 6.5rem;
  }
 }
 @media (min-width: 701px) {
  .slider__button-wrap {
    display: none;
  }
  
 }
 @media (max-width: 600px) {
  .contact__content .title_box:hover::before {
    width: 30%;
  }
 }
 @media (max-height: 568px) {
    .header__top {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .slider__center-container {
      margin-bottom: 4rem;
  }
 }
@media (max-height: 420px) {
  .header__content-title {
    margin-top: 7.5rem;
  }
  .header__content-decor::after { 
    bottom: 2rem;
  }
  
}
@media (max-width: 420px) {
  .statistics__item {
    width: 100%;
  }
  .team__items .team__item {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .header__content-title {
    font-size: 7rem;
    margin-top: 13.5rem;
  }
  .expertise__content-item_progress-bar {
    width: 28rem;
  }
} 




